.photo-grid {
    max-width: 1184px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    margin: 0 auto 92px;
    /* box-sizing: border-box; */
    /* justify-content: center */
}

@media screen and (max-width: 1250px) {
    .photo-grid {
      grid-template-columns: repeat(3, 300px);
      gap: 14px;
    }
  }

  @media screen and (max-width: 950px) {
    .photo-grid {
      grid-template-columns: repeat(2, 352px);
      margin: 0 auto 88px auto;
      width: calc(100% - 48px);
      gap: 16px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .photo-grid {
      grid-template-columns: 100%;
      width: calc(100% - 32px);
      margin: 0 auto 64px auto;
      gap: 12px;
    }
  }