body {
    background-color: #2a2c2f;
}

.page {
    max-width: 1184px;
    margin: 0 auto;
    
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
}

.header__links {
    list-style: none;
    display: flex;
    gap: 18px;
    margin: 0;
    padding: 0;
}

.header__link {
    color: #fff;
    text-decoration: none;
}

.header__link_active {
    text-decoration: underline;
}

/* LEAD */

.lead {
    max-width: 984px;
    margin: 0 auto;
}

.lead__title {
    max-width: 720px;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    color: #fff;
    text-align: center;
    margin: 56px auto 32px;
}

.lead__subtitle {
    max-width: 640px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin: 0 auto 64px;
}

.lead__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 0 auto; */
}

.lead__img {
    max-width: 984px;
    width: 100%;
    
    padding: 0;
}

.lead__caption {
    color: #fff;
    margin: 8px 0 0 0;
    padding: 0;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}


/* INTRO */

.intro {
    max-width: 984px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 92px auto;
}

.intro__title {
    color: #fff;
    max-width: 690px;
    font-size: 54px;
    line-height: 58px;
    font-weight: 900;
}

.intro__subtitle {
    color: #fff;
    max-width: 690px;
    font-size: 16px;
    line-height: 26.08px;
    font-weight: 400;
}

.intro__stats {
    list-style: none;
    color: #fff;
    margin: 0;
    padding: 0;
}

.intro__stats-line {}

/* PHOTO GRID */

.photo-grid {
    max-width: 1184px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    margin: 0 auto 92px;
    /* box-sizing: border-box; */
    /* justify-content: center */
    
}

/* PLACES */

.places {
    max-width: 984px;
    margin: 0 auto 92px;
}

.place {
    display: grid;
    grid-template: minmax(min-content, max-content) minmax(min-content, max-content) / minmax(340px, 460px) minmax(352px, 484px);
    gap: 48px 40px;
    margin: 0 0 80px 0;
    padding: 0;
  }

.place:last-child {
    margin: 0;
  }

.place__title {
    color: #fff;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    margin: 0;
    padding: 0;
  }

.place__web {
    align-self: end;
  }

.place__web-name {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: #aaaaaa;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

.place__web-link {
    text-decoration: underline;
    color: #fff;
  }

.place__image {
    width: 100%;
    object-fit: cover;
  }

.place__description {
    
  }

.place__paragraph {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    margin: 0 0 26px 0;
    padding: 0;
  }

  /* COVER */

.cover {
    margin: 0 auto;
    max-width: 1184px;
    width: 100%;
    background-image: url(./images/cover.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

.cover__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    aspect-ratio: 16/10;
    color: #FFF;
    background-color: rgba(42, 44, 47, .3);
    margin: 0 auto;
    padding: 0;
    transition: all 0.8s ease-in-out;
  }

.cover__container:hover {
    background-color: rgba(42, 44, 47, .8);
  }

.cover__title {
    max-width: 560px;
    margin: 0 auto 32px auto;
    padding: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
  }

.cover__subtitle {
    max-width: 360px;
    margin: 0 auto;
    padding: 0;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }

/* FOOTER */
  

.footer {
    display: flex;
    justify-content: space-between;
    margin: 94px auto 0;
    max-width: 1184px;
    align-items: center;
}

.footer__links {
    display: flex;
    
    gap: 18px;
    list-style: none;
    padding: 0;
}

.footer__link {
    text-decoration: none;
    color: #fff;
}

.footer__copyright {
    color: #fff;
}

