.header__link {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
}

@media screen and (max-width: calc(768px - ((768px - 320px) / 2))) {
    .header__link {
      font-size: 18px;
      line-height: 20px;
    }
  }