.lead__title {
  max-width: 720px;
  font-size: 119px;
  font-weight: 800;
  line-height: 128px;
  color: #135bb3;
  text-align: center;
  margin: 0 auto 32px;
}

.lead__title span {
  color: #dce147;
}

@media screen and (max-width: 700px) {
  .lead__title {
    margin: 0 auto 16px;
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}