.lead__subtitle {
    max-width: 640px;
    margin: 0 auto 64px;
    padding: 0;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #fff;
    font-style: normal;
}