.cover {
  max-width: 1184px;
  width: 100%;
  background-image: url(../../images/cover.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto 92px;
}

@media screen and (max-width: 850px) {
  .cover {
    margin: 0 auto 88px;
  }
}
  
@media screen and (max-width: 767px) {
  .cover {
    margin: 0 auto 64px;
  }
}