.intro__stats {
  list-style: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #fff;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 950px) {
  .intro__stats {
    max-width: 720px;
  }
}