.footer {
    display: flex;
    justify-content: space-between;
    margin: 94px auto 0;
    max-width: 1184px;
    align-items: center;
}

@media screen and (max-width: 1215px) {
    .footer {
      margin: 0 48px 24px 48px;
    }
  }

@media screen and (max-width: 950px) {
    .footer {
      margin: 0 24px 24px 24px;
    }
  }

@media screen and (max-width: 760px) {
    .footer {
      flex-direction: column;
      align-items: flex-start;
      gap: 48px;
      margin: 0 16px 24px 16px;
    }
  }