.place__description {
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 950px) {
  .place__description {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .place__description {
    margin: 0 16px 0 16px;
  }
}

